
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--azul2);
    padding: 20px;
    border-radius: 8px;
    color: white;
    width: 500px;
    height: 200px;
    font-size: 1em;
    font-weight: 300;
}

button {
    background-color: var(--laranja);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 12px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 300;
    a {
        color: white;
        text-decoration: none; 
        text-decoration-style: none; 
    }
}