main {
    padding: 0;
}

.container {
    background-color: var(--azul2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 30px;
    height: 100vh;
}

a {
    background-color: var(--amarelo);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 20px;
    padding: 12px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 400;
    box-shadow: 4px 4px 12px 8px rgba(0, 0, 0, 0.5);
    width: 700px;
    height: 70px;
}