
{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_feral.css') }}">
{% endblock %}

{% block content %}

<main>
    <h1>Cadastro de Personagem</h1>

    <form action="{{ url_for('create_feral') }}" method="POST" enctype="multipart/form-data">
        
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br><br>

        <label>Titulo do feral:</label><br>
        <input type="text" name="titulo" required><br><br>

        <label>Player:</label><br>
        <input type="text" name="player" required><br><br>

        <label>especialidade:</label><br>
        <input type="text" name="especialidade" required><br><br>

        <label>Criação:</label><br>
        <textarea name="criacao"></textarea><br><br>

        <label>Iniciação:</label><br>
        <textarea name="iniciacao"></textarea><br><br>

        <label>Ambição:</label><br>
        <textarea name="ambicao"></textarea><br><br>

        <label>Conexão:</label><br>
        <textarea name="conexao"></textarea><br><br>
        

        <label>Imagem:</label><br>
        <input type="file" name="imagem" accept="image/*"><br><br>

        <h3>Condições</h3>
        <div class="condicoes">
        {% for cond in condicoes %}
            <div class="condicoes_check">
                <label>
                    <input type="checkbox" name="condicoes" value="{{ cond.id }}">
                    {{ cond.nome }}
                </label><br>
            </div>
        {% endfor %}
        </div>
        <br>
        <div class="utensílios">
            <h3>Utensílios</h3>
            <input type="text" name="utensilio_nome" placeholder="Nome"><br>
            <input type="text" name="utensilio_alcance" placeholder="alcance"><br>
            <input type="text" name="utensilio_quebrado" placeholder="quebrado"><br>
            <input type="number" name="utensilio_dur_max" placeholder="duração"><br>
            <input type="text" name="utensilio_ataques" placeholder="ataques"><br>
        </div>

        <div class="estilo">
            <h3>Estilo</h3><br>
            <p>ligeiro</p>
            <input type="number" name="ligeiro" placeholder="ligeiro" min="1" max='3'><br><br>
            <p>poderoso</p>
            <input type="number" name="poderoso" placeholder="poderoso" min="1" max='3'><br><br>
            <p>preciso</p>
            <input type="number" name="preciso" placeholder="preciso" min="1" max='3'><br><br>
            <p>sagaz</p>
            <input type="number" name="sagaz" placeholder="sagaz" min="1" max='3'><br><br>
        </div>

        <div class="habilidade">
            <h3>Habilidade</h3><br>
            <p>agarrar</p>
            <input type="number" name="agarrar" placeholder="agarrar" min="1" max="3"><br><br>

            <p>atirar</p>
            <input type="number" name="atirar" placeholder="atirar" min="1" max="3"><br><br>

            <p>curar</p>
            <input type="number" name="curar" placeholder="curar" min="1" max="3"><br><br>

            <p>golpear</p>
            <input type="number" name="golpear" placeholder="golpear" min="1" max="3"><br><br>

            <p>armazenar</p>
            <input type="number" name="armazenar" placeholder="armazenar" min="1" max="3"><br><br>

            <p>atravessar</p>
            <input type="number" name="atravessar" placeholder="atravessar" min="1" max="3"><br><br>

            <p>estudar</p>
            <input type="number" name="estudar" placeholder="estudar" min="1" max="3"><br><br>

            <p>manufaturar</p>
            <input type="number" name="manufaturar" placeholder="manufaturar" min="1" max="3"><br><br>

            <p>assegurar</p>
            <input type="number" name="assegurar" placeholder="assegurar" min="1" max="3"><br><br>

            <p>chamar</p>
            <input type="number" name="chamar" placeholder="chamar" min="1" max="3"><br><br>

            <p>exibir</p>
            <input type="number" name="exibir" placeholder="exibir" min="1" max="3"><br><br>

            <p>procurar</p>
            <input type="number" name="procurar" placeholder="procurar" min="1" max="3"><br><br>
        </div>
        <div class="traco">
            <h2>Traço 1:</h2><br>
            <label>Nome:</label><br>
            <input type="text" name="nome_traco1" required><br>
            <label>Custo:</label><br>
            <input type="text" name="custo_traco1" required><br>
            <p>Descrição</p>
            <textarea name="descricao_traco1"></textarea><br><br>

            <p> habilidade do traço </p>
            <input type="radio" id="agarrar" name="habilidade_traco1" value="agarrar">
            <label for="agarrar">Agarrar</label><br>

            <input type="radio" id="atirar" name="habilidade_traco1" value="atirar">
            <label for="atirar">Atirar</label><br>

            <input type="radio" id="curar" name="habilidade_traco1" value="curar">
            <label for="curar">Curar</label><br>

            <input type="radio" id="golpear" name="habilidade_traco1" value="golpear">
            <label for="golpear">Golpear</label><br>

            <input type="radio" id="armazenar" name="habilidade_traco1" value="armazenar">
            <label for="armazenar">Armazenar</label><br>

            <input type="radio" id="atravessar" name="habilidade_traco1" value="atravessar">
            <label for="atravessar">Atravessar</label><br>

            <input type="radio" id="estudar" name="habilidade_traco1" value="estudar">
            <label for="estudar">Estudar</label><br>

            <input type="radio" id="manufaturar" name="habilidade_traco1" value="manufaturar">
            <label for="manufaturar">Manufaturar</label><br>

            <input type="radio" id="assegurar" name="habilidade_traco1" value="assegurar">
            <label for="assegurar">Assegurar</label><br>

            <input type="radio" id="chamar" name="habilidade_traco1" value="chamar">
            <label for="chamar">Chamar</label><br>

            <input type="radio" id="exibir" name="habilidade_traco1" value="exibir">
            <label for="exibir">Exibir</label><br>

            <input type="radio" id="procurar" name="habilidade_traco1" value="procurar">
            <label for="procurar">Procurar</label><br>

            <p>Estilo 1</p>
            <input type="radio" id="ligeiro" name="estilo_traco1" value="ligeiro">
            <label for="ligeiro">Ligeiro</label><br>

            <input type="radio" id="poderoso" name="estilo_traco1" value="poderoso">
            <label for="poderoso">Poderoso</label><br>

            <input type="radio" id="preciso" name="estilo_traco1" value="preciso">
            <label for="preciso">Preciso</label><br>

            <input type="radio" id="sagaz" name="estilo_traco1" value="sagaz">
            <label for="sagaz">Sagaz</label><br>
        </div>
        <br>
        <div class="traco">
            <h2>Traço 2:</h2><br>
            <label>Nome:</label><br>
            <input type="text" name="nome_traco2" required><br>
            <label>Custo:</label><br>
            <input type="text" name="custo_traco2" required><br>
            <p>Descrição</p>
            <textarea name="descricao_traco2"></textarea><br><br>

            <p> habilidade do traço </p>
            <input type="radio" id="agarrar" name="habilidade_traco2" value="agarrar">
            <label for="agarrar">Agarrar</label><br>

            <input type="radio" id="atirar" name="habilidade_traco2" value="atirar">
            <label for="atirar">Atirar</label><br>

            <input type="radio" id="curar" name="habilidade_traco2" value="curar">
            <label for="curar">Curar</label><br>

            <input type="radio" id="golpear" name="habilidade_traco2" value="golpear">
            <label for="golpear">Golpear</label><br>

            <input type="radio" id="armazenar" name="habilidade_traco2" value="armazenar">
            <label for="armazenar">Armazenar</label><br>

            <input type="radio" id="atravessar" name="habilidade_traco2" value="atravessar">
            <label for="atravessar">Atravessar</label><br>

            <input type="radio" id="estudar" name="habilidade_traco2" value="estudar">
            <label for="estudar">Estudar</label><br>

            <input type="radio" id="manufaturar" name="habilidade_traco2" value="manufaturar">
            <label for="manufaturar">Manufaturar</label><br>

            <input type="radio" id="assegurar" name="habilidade_traco2" value="assegurar">
            <label for="assegurar">Assegurar</label><br>

            <input type="radio" id="chamar" name="habilidade_traco2" value="chamar">
            <label for="chamar">Chamar</label><br>

            <input type="radio" id="exibir" name="habilidade_traco2" value="exibir">
            <label for="exibir">Exibir</label><br>

            <input type="radio" id="procurar" name="habilidade_traco2" value="procurar">
            <label for="procurar">Procurar</label><br>
            
            <p>Estilo 2</p>
            <input type="radio" id="ligeiro" name="estilo_traco2" value="ligeiro">
            <label for="ligeiro">Ligeiro</label><br>

            <input type="radio" id="poderoso" name="estilo_traco2" value="poderoso">
            <label for="poderoso">Poderoso</label><br>

            <input type="radio" id="preciso" name="estilo_traco2" value="preciso">
            <label for="preciso">Preciso</label><br>

            <input type="radio" id="sagaz" name="estilo_traco2" value="sagaz">
            <label for="sagaz">Sagaz</label><br>

        </div>

        <br>

        <div class="traco">
            <h2>Traço 3:</h2><br>
            <label>Nome:</label><br>
            <input type="text" name="nome_traco3" required><br>
            <label>Custo:</label><br>
            <input type="text" name="custo_traco3" required><br>
            <p>Descrição</p>
            <textarea name="descricao_traco3"></textarea><br><br>


            <p> habilidade do traço </p>
            <input type="radio" id="agarrar" name="habilidade_traco3" value="agarrar">
            <label for="agarrar">Agarrar</label><br>

            <input type="radio" id="atirar" name="habilidade_traco3" value="atirar">
            <label for="atirar">Atirar</label><br>

            <input type="radio" id="curar" name="habilidade_traco3" value="curar">
            <label for="curar">Curar</label><br>

            <input type="radio" id="golpear" name="habilidade_traco3" value="golpear">
            <label for="golpear">Golpear</label><br>

            <input type="radio" id="armazenar" name="habilidade_traco3" value="armazenar">
            <label for="armazenar">Armazenar</label><br>

            <input type="radio" id="atravessar" name="habilidade_traco3" value="atravessar">
            <label for="atravessar">Atravessar</label><br>

            <input type="radio" id="estudar" name="habilidade_traco3" value="estudar">
            <label for="estudar">Estudar</label><br>

            <input type="radio" id="manufaturar" name="habilidade_traco3" value="manufaturar">
            <label for="manufaturar">Manufaturar</label><br>

            <input type="radio" id="assegurar" name="habilidade_traco3" value="assegurar">
            <label for="assegurar">Assegurar</label><br>

            <input type="radio" id="chamar" name="habilidade_traco3" value="chamar">
            <label for="chamar">Chamar</label><br>

            <input type="radio" id="exibir" name="habilidade_traco3" value="exibir">
            <label for="exibir">Exibir</label><br>

            <input type="radio" id="procurar" name="habilidade_traco3" value="procurar">
            <label for="procurar">Procurar</label><br>

            <p>Estilo 3</p>
            <input type="radio" id="ligeiro" name="estilo_traco3" value="ligeiro">
            <label for="ligeiro">Ligeiro</label><br>

            <input type="radio" id="poderoso" name="estilo_traco3" value="poderoso">
            <label for="poderoso">Poderoso</label><br>

            <input type="radio" id="preciso" name="estilo_traco3" value="preciso">
            <label for="preciso">Preciso</label><br>

            <input type="radio" id="sagaz" name="estilo_traco3" value="sagaz">
            <label for="sagaz">Sagaz</label><br>
        </div>

        


        <button type="submit">Criar Feral</button>
    </form>
</main>
{% endblock %}
