{% extends 'base.html' %}


{% block title %}ERRO - {{ code }}{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/erro.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        {% if code == 401 %}
            <h1>ERRO 401 - Unauthorized</h1>
            <p>Você precisa fazer login para acessar esta página.</p>
        {% elif code == 404 %}
            <h1>ERRO 404 - Not Found</h1>
            <p>O conteúdo que você procura não existe.</p>
        {% elif code == 500 %}
            <h1>ERRO 500 - Internal Server Error</h1>
            <p>Tivemos um erro interno. Estamos trabalhando para resolver este problema.</p>
        {% else %}
            <h1>Ocorreu um erro</h1>
            <p>Algo deu errado, mas não conseguimos identificar o erro específico.</p>
        {% endif %}
        <button><a href="{{ url_for('index') }}">Retornar ao início</a></button>
    </div>
</div>
{% endblock %}