{% extends 'base.html' %}


{% block title %}Ficha de personagem - Wilderfeast{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ficha_personagem.css') }}">
{% endblock %}

{% block content %}
    <main>
        <section class="personagem">
            <img src="{{ url_for('static', filename='uploads/' + feral.imagem_url) }}" alt="Personagem">
            <div class="personDesc">
                <p>Nome: {{ feral.nome }}</p>
                <p>Título: {{ feral.titulo }} </p>
                <p>Interpretado por {{ feral.player }} </p>
                <p>Condições:</p>

                <div class="condicoes">
                    {% if feral.condicoes != [] %}
                        {% for feral_condicao in feral.condicoes %}
                            <button onclick="ficarVerde(this)">{{ feral_condicao.nome }}</button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>

        <div class="break">
            <span class="linha"></span>
            <p>Utensílio</p>
            <span class="linha"></span>
        </div>

        <section class="utensilio">
            <p id="bule">{{ feral.utensilios[0].nome }}</p>

            <div class="descContainer">
                <p class="descTitulo">Informações:</p>
                <p>Alcance: {{ feral.utensilios[0].alcance }}</p>
                <p>Se quebrado: Alcance 1 (Golpear). Essa Parte dá metade do dano.</p>
                <p>Durabilidade:</p>
                <span id="durabilidade" class="center">100 / 100</span>
            </div>

            <div class="descContainer">
                <p class="descTitulo">Ataques:</p>
                {% for ataque in feral.utensilios %}
                    <p>{{ ataque.ataques }}</p>
                {% endfor %}
            </div>
        </section>

        <div class="break">
            <span class="linha"></span>
            <p>História</p>
            <span class="linha"></span>
        </div>

        <section class="historia">
            <div class="descContainer">
                <p class="descTitulo">Criacão:</p>
                <p>{{ feral.criacao }}</p>
            </div>

            <div class="descContainer">
                <p class="descTitulo">Iniciação:</p>
                <p>{{ feral.iniciacao }}</p>
            </div>

            <div class="descContainer">
                <p class="descTitulo">Ambição:</p>
                <p>{{ feral.ambicao }}</p>
            </div>

            <div class="descContainer">
                <p class="descTitulo">Conexão:</p>
                <p>{{ feral.conexao }}</p>
            </div>
        </section>

        <div class="break">
            <span class="linha"></span>
            <p>Pontos / Habilidades</p>
            <span class="linha"></span>
        </div>

        <section class="pontos">
            <p class="titulo">Estilos</p>
            <div class="estiloContainer">
                <div class="estilo">
                    <p class="amarelo center">LIGEIRO</p>
                    <p class="center">{{ feral.estilo.ligeiro }}</p>
                </div>
                <div class="estilo">
                    <p class="amarelo center">PODEROSO</p>
                    <p class="center">{{ feral.estilo.poderoso }}</p>
                </div>
                <div class="estilo">
                    <p class="amarelo center">PRECISO</p>
                    <p class="center">{{ feral.estilo.preciso }}</p>
                </div>
                <div class="estilo">
                    <p class="amarelo center">SAGAZ</p>
                    <p class="center">{{ feral.estilo.sagaz }}</p>
                </div>
            </div>

            <p class="titulo">Habilidades</p>
            <div class="habilidadesContainer">
                <div class="habilidade">
                    <p class="azul center">AGARRAR</p>
                    <p class="center">{{ feral.habilidade.agarrar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">ATIRAR</p>
                    <p class="center">{{ feral.habilidade.atirar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">CURAR</p>
                    <p class="center">{{ feral.habilidade.curar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">GOLPEAR</p>
                    <p class="center">{{ feral.habilidade.golpear }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">ARMAZENAR</p>
                    <p class="center">{{ feral.habilidade.armazenar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">ATRAVESSAR</p>
                    <p class="center">{{ feral.habilidade.atravessar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">ESTUDAR</p>
                    <p class="center">{{ feral.habilidade.estudar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">MANUFATURAR</p>
                    <p class="center">{{ feral.habilidade.manufaturar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">ASSEGURAR</p>
                    <p class="center">{{ feral.habilidade.assegurar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">CHAMAR</p>
                    <p class="center">{{ feral.habilidade.chamar }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">EXIBIR</p>
                    <p class="center">{{ feral.habilidade.exibir }}</p>
                </div>
                <div class="habilidade">
                    <p class="azul center">PROCURAR</p>
                    <p class="center">{{ feral.habilidade.procurar }}</p>
                </div>
            </div>

            <p class="titulo">Traços</p>
            <p class="traco">
                <span class="verde maiusculo">{{ feral.tracos[0].nome }}</span> {{ feral.tracos[0].custo }} {{ feral.tracos[0].descricao }} 
                <span class="azul maiusculo">{{ feral.tracos[0].habilidade_relacionada }}</span> <span class="amarelo maiusculo">{{ feral.tracos[0].estilo_relacionado }}</span>
            </p>
            <p class="traco">
                <span class="verde maiusculo">{{ feral.tracos[1].nome }}</span> {{ feral.tracos[1].custo }} {{ feral.tracos[1].descricao }} 
                <span class="azul maiusculo">{{ feral.tracos[1].habilidade_relacionada }}</span> <span class="amarelo maiusculo">{{ feral.tracos[1].estilo_relacionado }}</span>
            </p>
            <p class="traco">
                <span class="verde maiusculo">{{ feral.tracos[2].nome }}</span> {{ feral.tracos[2].custo }} {{ feral.tracos[2].descricao }} 
                <span class="azul maiusculo">{{ feral.tracos[2].habilidade_relacionada }}</span> <span class="amarelo maiusculo">{{ feral.tracos[2].estilo_relacionado }}</span>
            </p>
        </section>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}