{% extends 'base.html' %}

{% block title %}Fichas - Wilderfeast{% endblock %}

{% block links %}
<link rel="stylesheet" href="/fichas/style.css">
<link rel="icon" href="/imagens/favicon.png">
{% endblock %}

{% block content %}
    <main>
        <section class="fichascontainer">
            <p class="title">Fichas</p>
            <section class="fichas">
                <div class="ficha">
                    <div class="top">
                        <img src="/imagens/besta.png" alt="Foto da criatura">
        
                        <div class="direita">
                            <div class="nome">
                                <p>Gata Samurai</p>
                            </div>
                            <div class="status">
                                <div class="stat">
                                    <p>Vigor</p>
                                    <div class="vigorbarra">
                                        <span>100 / 100</span>
                                    </div>
                                </div>
                                <div class="stat">
                                    <p>Durabilidade</p>
                                    <div class="durabarra">
                                        <span>100 / 100</span>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    <div class="mid">
                        <div class="pontos">
                            <p>Pod</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Pre</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Lig</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Sag</p>
                            <p>+1</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="especialidade">
                            <p>Especialidade</p>
                            <p>Açougueiro</p>
                        </div>
                        <div class="utensilio">
                            <p>Utensílio</p>
                            <p>Garfo</p>
                            <a href="/fichapersonagem/index.html" class="fichabtn efeito">Ficha Completa</a>
                        </div>
                    </div>
                </div>
                <div class="ficha">
                    <div class="top">
                        <img src="/imagens/besta2.png" alt="Foto da criatura">
        
                        <div class="direita">
                            <div class="nome">
                                <p>Nome</p>
                            </div>
                            <div class="status">
                                <div class="stat">
                                    <p>Vigor</p>
                                    <div class="vigorbarra">
                                        <span>100 / 100</span>
                                    </div>
                                </div>
                                <div class="stat">
                                    <p>Durabilidade</p>
                                    <div class="durabarra">
                                        <span>100 / 100</span>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    <div class="mid">
                        <div class="pontos">
                            <p>Pod</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Pre</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Lig</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Sag</p>
                            <p>+1</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="especialidade">
                            <p>Especialidade</p>
                            <p>Pivoteiro</p>
                        </div>
                        <div class="utensilio">
                            <p>Utensílio</p>
                            <p>Luva</p>
                            <a href="/fichapersonagem/index.html" class="fichabtn efeito">Ficha Completa</a>
                        </div>
                    </div>
                </div>
                <div class="ficha">
                    <div class="top">
                        <img src="/imagens/besta5.png" alt="Foto da criatura">
        
                        <div class="direita">
                            <div class="nome">
                                <p>Nome</p>
                            </div>
                            <div class="status">
                                <div class="stat">
                                    <p>Vigor</p>
                                    <div class="vigorbarra">
                                        <span>100 / 100</span>
                                    </div>
                                </div>
                                <div class="stat">
                                    <p>Durabilidade</p>
                                    <div class="durabarra">
                                        <span>100 / 100</span>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    <div class="mid">
                        <div class="pontos">
                            <p>Pod</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Pre</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Lig</p>
                            <p>+1</p>
                        </div>
                        <div class="pontos">
                            <p>Sag</p>
                            <p>+1</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="especialidade">
                            <p>Especialidade</p>
                            <p>Jardineiro</p>
                        </div>
                        <div class="utensilio">
                            <p>Utensílio</p>
                            <p>Luva</p>
                            <a href="/fichapersonagem/index.html" class="fichabtn efeito">Ficha Completa</a>
                            
                        </div>
                    </div>
                </div>

                <div class="criarcontainer">
                    <button class="criar center">
                        Criar nova
                    </button>
                </div>
            </section>
        </section>
    </main> 
{% endblock %}