{% extends 'base.html' %}


{% block title %}ERRO - {{ code }}{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_data.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <!-- Insira aqui os dados do usuário -->
        <button><a href="{{ url_for('index') }}">Retornar ao início</a></button>
        <a href="{{ url_for('edit_user', id_user = listagem.id) }}" class="fichabtn efeito">Editar usuário</a>
        <a href="{{ url_for('delete_user', id_user = listagem.id) }}" class="fichabtn efeito">Deletar usuário</a>
    </div>
</div>
{% endblock %}